<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender CONSOLE commun a tous les profils -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{correlationId:-no-corr}] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Profil par defaut : INFO pour le package applicatif -->
    <springProfile name="default">
        <logger name="ff.ss.javaFxAuditStudio" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Profil dev : DEBUG pour le package applicatif, INFO pour Spring -->
    <springProfile name="dev">
        <logger name="ff.ss.javaFxAuditStudio" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
